body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: azure;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 24px;
    margin-left: 20px;
  }
  
  nav ul {
    list-style: none;
    margin-right: 20px;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  section {
    padding: 50px 0;
    text-align: center;
  }
  
  .about-section img {
    width: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  .skills-section ul {
    list-style: none;
    padding: 0;
  }
  
  .projects-section .project {
    margin-bottom: 50px;
  }
  
  .projects-section img {
    width: 300px;
    border-radius: 10px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  